body {
  width: 320px;
  font-family: Verdana,sans-serif;
}
h1 {
  font-size: 120%;
  margin: 0 0 4px 0;
  padding: 0;
  text-align: center;
}
h2 {
  font-size: 100%;
  margin: 0 0 2px 0;
  padding: 0;
  text-align: center;
}
#audioplayer {
  width: 300px;
  margin: 8px 0 4px 0;
}
#energy {
  font-size: 160%;
  font-weight: bold;
  text-align: center;
}
p {
  margin: 0 5px 0 5px;
}