body {
  font-family: Verdana,sans-serif;
  background: #fff;
  width: 320px;
}
h1 {
  font-size: 120%;
  margin: 0 0 4px 0;
  padding: 0;
  text-align: center;
}
h2 {
  font-size: 100%;
  margin: 0 0 2px 0;
  padding: 0;
  text-align: center;
}
#audioplayer {
  width: 300px;
  margin: 8px 0 4px 0;
}
#energy {
  font-size: 160%;
  font-weight: bold;
  text-align: center;
}
#playpause {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
  display: block;
}
#pachube {
  margin-top: 8px;
  width: 300px;
  height: 120px;
  display: block;
}  
p {
  margin: 5px;
  line-height: 150%;
  font-size: 90%;
}