body {
  font-family: Verdana,sans-serif;
  background: #fff;
  width: 320px;
}
h1 {
  font-size: 120%;
  margin: 0 0 4px 0;
  padding: 0;
  text-align: center;
}
h2 {
  font-size: 100%;
  margin: 0 0 2px 0;
  padding: 0;
  text-align: center;
}
#audioplayer {
  width: 300px;
  margin: 8px 0 4px 0;
}
#energy {
  font-size: 160%;
  font-weight: bold;
  text-align: center;
}
.buttons {
  margin: 0;
  padding: 0;
}
#buttonwrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  width: 268px;
  height: 128px;
  display: block;
}
#previous, #next {
  padding-bottom: 32px;
}
#trackinfo {
  font-size: 80%;
  width: 300px;
  padding: 0 5px 10px 5px;
  text-align: center;
  overflow: hidden;
}
#pachube {
  margin-top: 8px;
  width: 300px;
  height: 120px;
  display: block;
}  
p {
  margin: 5px;
  line-height: 150%;
  font-size: 90%;
}